@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.navBar {
    background-image: url(../src/assets/img/backgroundHeader.jpg);
    background-size: cover;
    height: 30vh;
    font-family: "Alkatra", sans-serif;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-weight: bold;
    font-size: 30px;
    margin-left: 3vh;
    color: rgb(255, 255, 255);
}

.nav_items {
    display: flex;
    align-items: flex-end;
}

.nav_items a {
    margin: 15px;
    color: rgb(12, 117, 95);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.nav_items a:hover {
    color: rgb(235, 133, 0);
}

.cartWidget {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

img {
    display: flex;
    width: 6vh;
    justify-content: center;
}

.cartNumber {
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}